* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;

}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  height: 35px;
}

.header__title {
  margin: 0 0 0 64px;
  z-index: 2;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  z-index: 0;
  background-color: #2f80ed;
}

.description {
  margin-top: 100px;
}

.two-columns {
  position: relative;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  align-items: center;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.digits {
  margin: 100px auto 100px auto;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 auto;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
  list-style-type: none;
}

.table__cell:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  background: url(../images/feynman.png) 867px 637px no-repeat;
  background-position: left bottom;
  height: 890px;
  text-align: center;
}

.feynman::after {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.feynman__title {
  margin: 0 auto;
  padding: 100px 0 70px 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-family: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: -2;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background: url(../images/kaufman-triangle.svg) center no-repeat;
  background-size: contain;
  right: -210px;
  z-index: -1;
}

.section-title_theme_dark {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 90px auto 0 auto;
  text-align: center;
  color: #fff;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.table__theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 90px auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0;
  list-style-type: none;
}

.table__cell_theme_dark:nth-last-child(-n+5) {
  margin: 0 auto;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer {
  background-color: #1f1f1f;
  max-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 60px 0 40px 0;
  margin: auto;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
}

.footer__column-heading {
  margin-bottom: 20px;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

/* .footer__column-links {
  color: #fff;
} */

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__author {
  margin: 18px auto;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 0;
}







