* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #2f80ed;
  text-decoration: none;
}

p {
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo {
  position: absolute;
  width: 183px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
}

.logo_place_footer {
}

.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 64px;
  z-index: 2;
  width: 730px;
  line-height: 90px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  z-index: 0;
  background-color: #2f80ed;
}

.description {
}

.two-columns {
  position: relative;
  margin: 100px auto 0 auto;
  width: 80%;
  min-height: 366px;
  display: flex;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  align-items: center;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__unification  {
  margin: 30px 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits {
  margin: 100px auto 40px auto;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-bank {
  margin-top: 20px;
}




.feyman {
  background-color: #f2f2f2;
}

.kaufman {
  background-color: #1f1f1f;
}

.footer {
  background-color: #1f1f1f;
}








/* элемент с модификатором вида ключ-значение*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
